<header class="navbar">

  <div class="search-box">
    <i class="bi bi-search"></i>
    <input type="text" placeholder="Search courses, assignments..." />
  </div>

  <div class="nav-right">

    <div class="icon notification">
      <i class="bi bi-bell-fill"></i>
      <span class="badge">3</span>
    </div>

    <div class="icon">
      <i class="bi bi-chat-dots-fill"></i>
    </div>

    <div class="icon">
      <i class="bi bi-moon-fill"></i>
    </div>

    <div class="profile">

      <img src="https://i.pravatar.cc/100?img=15">

      <div>

        <h4>Satya</h4>

        <span>Student</span>

      </div>

    </div>

  </div>

</header>
